<header class="header">
  <div class="header-left" (click)="goHome()">
    <svg class="home-icon" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M12 2.75 1.5 11.5h2.25v9.75h16.5V11.5h2.25L12 2.75Z" />
    </svg>
    <div class="title">Connect IQ</div>
  </div>
  <div class="header-right">
    <div class="theme-toggle" (click)="toggleTheme()">
      <div class="toggle-switch" [ngClass]="{'dark': isDark}">
        <div class="toggle-handle"></div>
      </div>
      <span class="toggle-label">{{ isDark ? 'Dark' : 'Light' }}</span>
    </div>
  </div>
</header>
