:host {
  display: block;
}

.footer {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}


/* Light theme defaults */
:host-context(.light) .footer {
  background-color: #EEF1F6;
  color: #333;
  border-top: 2px solid #696969;
}

/* Dark theme overrides - border set to black */
:host-context(.dark) .footer {
  background-color: #262730;
  color: #eee;
  border-top: 2px solid #696969;
}
